html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='css/about.css', rel='stylesheet', media='screen')
        link(href='css/font-awesome.min.css', rel='stylesheet', media='screen')

    include layouts/navbar

    body
        div(class="dashboard-container")
            div(id="console")
                div(id="about")
                    h1 About
                    h3 Forklift is a thing that does stuff completely unrelated to lifting heavy items
                    br
                    br
                    br
                    h3(class="large-h3 blue") Written and designed by Shane Israel in Node.js

    script(src='js/bootstrap.min.js')

