html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='css/jquery.bootstrap-touchspin.min.css', rel='stylesheet', media='screen')
        link(href='css/font-awesome.min.css', rel='stylesheet', media='screen')
        link(href='css/sweetalert.css', rel='stylesheet', media='screen')

        title="Forklift GUI"

    include layouts/navbar

    body



    script(src='js/jquery-1.11.3.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/dashboard.js')
    script(src='js/sweetalert.min.js')
